:root {
  --darkmode-900: #212121;
  --darkmode-800: #424242;
  --darkmode-700: #616161;
  --darkmode-600: #707070;
  --darkmode-500: #9e9e9e;
  --darkmode-400: #bdbdbd;
  --darkmode-300: #e0e0e0;
  --darkmode-200: #eee;
  --darkmode-100: #f5f5f5;
  --darkmode-50: #fafafa;
  --darkmode-hightlight-1-200: #aeead9;
  --darkmode-hightlight-1-100: #b5eada;
  --darkmode-hightlight-1-50: #e1f8f2;
  --darkmode-hightlight-2-200: #fed6a9;
  --darkmode-hightlight-2-100: #ffdbb7;
  --darkmode-hightlight-2-50: #fff2e2;
  --darkmode-overlay: rgba(33, 33, 33, 0.6);
  --darkmode-overlay-45deg: linear-gradient(
    45deg,
    rgba(33, 33, 33, 0.7) 0%,
    rgba(33, 33, 33, 0) 100%
  );
  --darkmode-overlay-0deg: linear-gradient(
    0deg,
    rgba(33, 33, 33, 0.7) 0%,
    rgba(33, 33, 33, 0) 95%
  );

  --darkmode-card-border: 1px solid var(--darkmode-600);

  /* Primary colors */
  --color-primary: #eee3be;
  --color-primary-text: #282a2b;
  --color-secondary: #11724f;
  --color-secondary-text: #fff;
  --color-primary-decorative: #eee3be;
  --color-primary-decorative-text: #282a2b;
  --color-secondary-decorative: #edf4e7;
  --color-secondary-decorative-text: #282a2b;

  /* Article element colors */
  --color-article-element--0: #eee3be;
  --color-article-element-title--0: #282a2b;
  --color-article-element--1: #11724f;
  --color-article-element-title--1: #fff;
  --color-article-element--2: #edf4e7;
  --color-article-element-title--2: #282a2b;
  --color-article-element--3: #e8c553;
  --color-article-element-title--3: #282a2b;
  --color-article-element--4: #eee3be;
  --color-article-element-title--4: #282a2b;
  --color-article-element--5: #11724f;
  --color-article-element-title--5: #fff;

  /* Element colors */
  --color-icons: #11724f;
  --color-arrows: #11724f;
  --color-element: var(--color-icons);
  --color-link: #11724f;
  --color-link-colored-bg: #fff;
  --color-tag: #11724f;
  --color-tag-bg: #e7f1ed;
  --color-tag-bg-text: #11724f;
  --color-bg-white-component-border: #d6d5d3;

  /* Btn colors */
  --color-btn-primary: #11724f;
  --color-btn-primary-text: #fff;
  --color-btn-secondary: #282a2b;
  --color-btn-secondary-text: #fff;
  --color-btn-bg--primary: #000;
  --color-btn-bg--primary-text: #fff;
  --color-btn-bg--primary-border-color: #000;
  --color-btn-bg--secondary: #fff;
  --color-btn-bg--secondary-text: #000;
  --color-btn-bg--secondary-border-color: #fff;
  --color-btn-bg--header-border-color: #fff;

  --color-btn-bg--grey-light: #11724f;
  --color-btn-bg--grey-light-text: #fff;

  /* Basic colors */
  --color-black: #282a2b;
  --color-white: #fff;
  --color-grey-light: #f6f6f6;
  --color-grey-medium: #d6d5d3;
  --color-grey-dark: #19242e;
  --color-body: #f5f3f0;
  --color-body-text: var(--color-black);

  /* Background colors */
  --article-element-bg--default: #eaeaea;

  /* Main & section white background option variables */
  --main-white-bg-component-bg: var(--color-white);
  --main-white-bg-component-border: 1px solid
    var(--color-bg-white-component-border);
  --section-white-bg: var(--color-white);
  --section-white-bg-component-bg: var(--color-white);
  --section-white-bg-component-border: 1px solid
    var(--color-bg-white-component-border);

  /* Component colors */
  --color-header: #11724f;
  --color-header-text: #fff;
  --color-footer: #11724f;
  --color-footer-text: #fff;

  /* Overlay colors */
  --color-overlay-start: #000000e5;
  --color-overlay-end: #00000000;
  --color-overlay-cover: #00000099;
  --color-overlay-text: #fff;
  --color-overlay-button: #11724f;
  --color-overlay-button-text: #fff;

  --color-overlay: var(--color-overlay-cover);
  --color-overlay-45deg: linear-gradient(
    45deg,
    var(--color-overlay-start) 0%,
    var(--color-overlay-end) 100%
  );
  --color-overlay-0deg: linear-gradient(
    0deg,
    var(--color-overlay-start) 0%,
    var(--color-overlay-end) 95%
  );

  --col-padding: 15px !important;
  --col-padding-md-down: 15px !important;
  --container-width: 1410px;
  --article-wrapper-max-width: auto;
  --component-border-top-width: 4px;

  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;

  --base-font-size: 16px;

  --font-primary-line-height: 1.3;
  --font-secondary-line-height: 1.55;
  --article-body-line-height: 1.55;

  --h1-font-size-lg: 40;
  --h1-font-size-sm: 26;
  --h2-font-size-lg: 22;
  --h2-font-size-sm: 22;
  --h3-font-size-lg: 20;
  --h3-font-size-sm: 20;
  --h4-font-size-lg: 18;
  --h4-font-size-sm: 18;

  --heading-font-weight: 600;
  --body-font-weight: 400;
  --tag-font-weight: 600;
  --heading-menu-font-weight: 600;

  --component-heading-font-size: var(--h3-font-size-lg);
  --component-body-font-size: 16;

  --article-subheading-font-size-lg: 20;
  --article-subheading-font-size-sm: 16;
  --article-body-font-size-lg: 16;
  --article-body-font-size-sm: 16;

  --small-font-size: 14;
  --small-details-font-size: 14;
  --small-text-transform: initial;

  --btn-font-size: 14;
  --btn-link-font-size: 14;

  --form-font-size: 16;

  --breadcrumb-font-size: 14;

  --header-nav-link-font-size: 15;
  --megamenu-link-list-font-size: 14;

  --header-font-size-1: 15;
  --header-font-size-2: 14;
  --header-font-size-3: 12;
  --header-font-size-4: 12;
}
